site_name: SEAN 3.0 Documentation
site_description: Documentation for the SEAN 3.0 simulator.
site_author: SEAN 3.0 Team
copyright: Copyright &copy; 2025 SEAN 3.0 Team
extra:
  generator: false
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
theme:
  name: material
  palette:
    primary: indigo
    accent: light_green
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.footer
nav:
  - Home: index.md
  - Getting Started: getting_started.md
  - Velodyne Sensor Demo: sensor_demo.md
  - Reinforcement Learning Demo: rl_demo.md